<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>{{titre}}</h1>
    <ul>
        <li *ngFor="let item of budget; index as clef">
            {{clef}} Le {{item.date}} {{item.categorie}} : {{item.montant}} euros pour {{item.description}}
            <button (click)="delete(clef)">Delete</button>
        </li>
    </ul>

    <label for="date">Date</label>
    <input type="date" id="date" [(ngModel)]='operation.date'>
    <label for="description">Description</label>
    <input type="text" id="description" [(ngModel)]='operation.description'>
    <label for="montant">Montant</label>
    <input type="number" id="montant" [(ngModel)]='operation.montant'>
    <label for="categorie">Catégorie</label>
    <input type="text" id="categorie" [(ngModel)]='operation.categorie'>
    <!--<label for="doggy">Ai-je un chien ?</label>
<input type="checkbox" id="doggy" [(ngModel)]="dogShow">
<label for="dogname" [hidden]="!dogShow">Nom du chien ?</label>
<input type="text" id="dogname" [(ngModel)]='personne.nom_chien' [hidden]="!dogShow">-->
    <button (click)="add()">Notifier</button>

    <ul>
        <li *ngFor="let item of budget; index as clef">
            {{clef}} Le {{item.date}} {{item.categorie}} : {{item.montant}} euros pour {{item.description}}
            <button (click)="delete(clef)">Delete</button>
        </li>
    </ul>
    <!--Rajouter des Select pour afficher les dépenses ou crédits, 
des boutons pour crédit et débit avec des tableaux et des valeurs différentes, 
et des graph avec des valeurs différentes en fonction des budgets -->
</body>

</html>